{%- extends "base.html" %}

{% block content %}

<form id="create_graph_form" method="get" action="{{ url(controller='graph', action='view') }}">

    <p>Create your own graph</p>

    <p>You can create your own graph by keyword and date interval (optional). You can also set the graph to auto update on a set interval (much like cron).</p>

    Keyword
    <input type="text" name="keyword" /><br />

    From date (on form: 2010-12-24 20:00:00)
    <input type="text" name="date_from" /><br />

    To date (on form: 2010-12-24 20:00:00)
    <input type="text" name="date_to" /><br />

    <input type="submit" name="graph" value="Create graph" />

</form>

{% endblock %}
