{%- extends "base.html" %}

{% block content %}

{% if c.entries %}
    Displaying {{ c.entries|length }} entries

    {% if c.prev_url %}
        <a href="{{ c.prev_url }}">Prev</a>
    {% endif %}

    {% if c.next_url %}
        <a href="{{ c.next_url }}">Next</a>
    {% endif %}
{% endif %}


{% for entry in c.entries %}
    <pre style="white-space: normal;">
    {{ entry['entry'] }}<br />
    <small><span style="color: #bbb;">date </span>{{ entry['date'] }} <span style="color: #bbb;">ident </span>{{ entry['ident'] }} <span style="color: #bbb;">source </span>{{ entry['source'] }}</small></pre>
{% else %}
    No entries found.
{% endfor %}

{% endblock %}
