{%- extends "base.html" %}

{% block content %}


<form method="get" action="{{ url(controller='log', action='view') }}">

    <p>Filter log by status code (required) and date (optional).</p>

    <p>Searchable keywords:</p>
    <ul>
        <li>User</li>
        <li>User agent</li>
        <li>Referer</li>
        <li>Request, including request_type, request_url and http version</li>
        <li>Status code</li>
        <li>Host</li>
        <li>Port</li>
        <li>Server</li>
    </ul>

    Search keyword
    <input type="text" name="search_keyword" /><br />

    or<br /
    >
    Status code
    <select name="status">
        <option value="100">100 Continue</option>
        <option value="101">101 Switching Protocols</option>
        <option value="102">102 Processing (WebDAV) (RFC 2518)</option>
        <option value="200">200 OK</option>
        <option value="201">201 Created</option>
        <option value="202">202 Accepted</option>
        <option value="203">203 Non-Authoritative Information (since HTTP/1.1)</option>
        <option value="204">204 No Content</option>
        <option value="205">205 Reset Content</option>
        <option value="206">206 Partial Content</option>
        <option value="207">207 Multi-Status (WebDAV) (RFC 4918)</option>
        <option value="300">300 Multiple Choices</option>
        <option value="301">301 Moved Permanently</option>
        <option value="302">302 Found</option>
        <option value="303">303 See Other (since HTTP/1.1)</option>
        <option value="304">304 Not Modified</option>
        <option value="305">305 Use Proxy (since HTTP/1.1)</option>
        <option value="306">306 Switch Proxy</option>
        <option value="307">307 Temporary Redirect (since HTTP/1.1)</option>
        <option value="400">400 Bad Request</option>
        <option value="401">401 Unathorized</option>
        <option value="402">402 Payment Required</option>
        <option value="403">403 Forbidden</option>
        <option value="404">404 Not Found</option>
        <option value="405">405 Method Not Allowed</option>
        <option value="406">406 Not Acceptable</option>
        <option value="407">407 Proxy Authentication Required</option>
        <option value="408">408 Request Timeout</option>
        <option value="409">409 Conflict</option>
        <option value="410">410 Gone</option>
        <option value="411">411 Length Required</option>
        <option value="412">412 Precondition Failed</option>
        <option value="413">413 Request Entity Too Large</option>
        <option value="414">414 Request-URI Too Long</option>
        <option value="415">415 Unsupported Media Type</option>
        <option value="416">416 Requested Range Not Satisfiable</option>
        <option value="417">417 Expectation Failed</option>
        <option value="418">418 I'm a teapot</option>
        <option value="421">421 There are too many connectins from your internet address</option>
        <option value="422">422 Unprocessable Entity (WebDAV) (RFC 4918)</option>
        <option value="423">423 Locked (WebDAV) (RFC 4918)</option>
        <option value="424">424 Failed Dependency (WebDAV) (RFC 4918)</option>
        <option value="425">425 Unordered Collection (RFC 3648)</option>
        <option value="426">426 Upgrade Required (RFC 2817)</option>
        <option value="449">449 Retry With</option>
        <option value="450">450 Blocked by Windows Parental Controls</option>
        <option value="500">500 Internal Server Error</option>
        <option value="501">501 Not Implemented</option>
        <option value="502">502 Bad Gateway</option>
        <option value="503">503 Service Unavailable</option>
        <option value="504">504 Gateway Timeout</option>
        <option value="505">505 HTTP Version Not Supported</option>
        <option value="506">506 Variant Also Negotiates (RFC 2295)</option>
        <option value="507">507 Insufficient Storage (WebDAV) (RFC 4918)</option>
        <option value="509">509 Bandwith Limit Exceeded (Apache bw/limited extension)</option>
        <option value="510">510 Not Extended (RFC 2774)</option>
        <option value="530">530 User access denied</option>
    </select><br /><br />

    From date (on form: 2010-12-24 20:00:00)
    <input type="text" name="date_from" /><br />

    To date (on form: 2010-12-24 20:00:00)
    <input type="text" name="date_to" /><br />

    <input type="submit" name="filter" value="Filter" />

</form>

{% endblock %}
